.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  color: var(--base-content);
  border: 1px solid var(--base-content);
  background: var(--base-100);
  padding: 0.5rem 0.75rem;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  width: fit-content;

  &:hover {
    background: var(--base-200);
  }
}

.home-body {
  background: var(--base-100);
  color: var(--base-content);
  overflow-x: hidden;

  > * + * {
    margin-top: 5rem;
  }

  .section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    padding: 2rem 1rem;

    @media (min-width: 640px) {
      padding: 2rem 2.5rem;
    }

    h2 {
      display: flex;
      font-size: 1.875rem;
      color: var(--base-content);
      align-self: flex-start;

      > :first-child {
        color: var(--accent);
        margin-right: 0.2rem;
      }

      .hash {
        color: var(--accent);
      }
    }
  }

  .btn {
    .btn-icon {
      color: var(--muted);
    }
  }

  .lucide-file-user {
    color: var(--muted);
    width: 1rem;
    height: 1rem;
  }
}

.home-header {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 1rem;

  .inner {
    width: fit-content;
    margin: 0 auto;
    color: var(--base-content);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100%;
    max-height: 24rem;
  }

  h1 {
    font-size: 1.875rem;
    font-weight: normal;

    > div:nth-child(2) {
      color: var(--accent);
    }
  }
}

.home-section-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  .art {
    color: var(--muted);
    font-size: 1em;
  }

  a {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    color: var(--base-content);
    width: fit-content;
  }

  .lucide-chevron-down {
    color: var(--muted);
  }
}

.link {
  text-decoration: underline;
  text-decoration-color: var(--muted);
}

.home-link {
  color: var(--base-content);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;

  .lucide {
    width: 1.25rem;
    height: 1.25rem;
  }

  .lucide-link-2,
  .lucide-github {
    color: var(--muted);
  }

  div {
    width: fit-content;
  }
}

.home-project {
  margin-bottom: 1rem;

  .carousel-wrap {
    display: inline-flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    gap: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .carousel-slide {
    box-sizing: content-box;
    display: flex;
    flex: none;
    scroll-snap-align: start;
    width: calc(100% - 2px);
    border: 1px solid var(--muted);
    position: relative;
    flex-direction: column;
    overflow: hidden;
    overflow-x: auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      aspect-ratio: 16 / 9;
    }
  }

  .nav {
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  .carousel-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.75rem;
    padding: 0;
    background: var(--base-200);
    color: var(--base-content);
    border: 1px solid var(--base-200);

    .lucide {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      background: var(--base-300);
      border-color: var(--base-300);
    }
  }

  .title {
    font-size: 1.125rem;
    color: var(--base-content);
  }
}

.home-contacts {
  color: var(--base-content);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.home-contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;

  .lucide {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--muted);
  }
}

.home-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  color: var(--muted);
}

.home-bio {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#home-jump-up {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 50;

  .btn-icon {
    color: var(--muted);
  }
}

.resume-body {
  background: var(--base-100);
  color: var(--base-content);

  .btn {
    .lucide {
      color: var(--muted);
    }

    .btn-icon {
      color: var(--muted);
    }
  }

  > header {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    padding: 2.5rem 0;

    @media print {
      display: none;
    }
  }

  > main {
    font-family: var(--font-roboto);
    min-height: var(--a4l);
    max-width: var(--a4s);
    margin: 0 auto;
    padding: 1.5rem;
  }

  h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--base-content);

    + p {
      font-size: 1.25rem;
    }
  }

  .bio {
    font-size: 0.875rem;
    color: var(--base-content);
    margin-top: 0.25rem;
    padding-bottom: 2rem;
    max-width: 65ch;

    @media print {
      padding-bottom: 1rem;
    }
  }

  h2 {
    font-size: 1.25rem;
    color: var(--base-content);
    text-transform: uppercase;
    font-weight: 700;
  }

  article {
    padding-bottom: 2rem;

    @media print {
      padding-bottom: 1rem;
    }

    ul {
      list-style: disc;
      padding-left: 1.5rem;

      li {
        margin-top: 0.25rem;
      }
    }
  }

  section {
    padding-bottom: 1rem;

    @media print {
      padding-bottom: 0.25rem;
    }

    h3 {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      .text {
        font-size: 1.125rem;
        font-weight: 700;
        color: var(--base-content);
      }

      .desc {
        color: var(--base-content);
      }
    }
  }

  strong {
    font-weight: 400;
    color: var(--base-100);
    background: var(--base-content);
    padding: 0 0.25rem;
    margin-right: 0.25rem;
  }

  a {
    color: var(--base-content);
  }
}

.resume-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  @media (min-width: 640px) {
    flex-direction: row;
  }

  > :first-child {
    flex-grow: 1;
  }
}

.resume-contacts {
  flex-grow: 1;
  margin-bottom: 1rem;

  @media (min-width: 640px) {
    margin-bottom: 0;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    color: var(--base-content);

    a {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      white-space: nowrap;
    }
  }

  .lucide {
    width: 1rem;
    height: 1rem;
    margin-left: 0.25rem;
  }

  .right {
    flex-grow: 1;
    text-align: right;
  }
}
