@media (prefers-color-scheme: light) {
  :root {
    --text: #000000;
    --background: #ffffff;
    --primary: #4a49f5;
    --secondary: #f0f0f0;
    --accent: #ffb347;
    --logo-fg: var(--primary);
    --category-fg: var(--primary);
    --tag-bg: var(--accent);
    --tag-fg: var(--text);
    --article-bg: var(--secondary);
    --readmore-bg: var(--primary);
    --readmore-fg: var(--secondary);
    --link-fg: var(--primary);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --background: #252525;
    --primary: #3a31d8;
    --secondary: #424242;
    --accent: #ffcb71;
    --logo-fg: var(--accent);
    --category-fg: var(--accent);
    --tag-bg: var(--primary);
    --tag-fg: var(--text);
    --article-bg: var(--secondary);
    --readmore-bg: var(--accent);
    --readmore-fg: var(--secondary);
    --link-fg: var(--accent);
  }
}

*:focus {
  outline: 1px solid var(--text);
}

body {
  background: var(--background);
  color: var(--text);
}

header {
  div {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-weight: bold;
      text-decoration: none;
      font-size: 2rem;
      color: var(--logo-fg);
    }

    form {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      border: 1px solid var(--text);
      border-radius: 0.5rem;
      padding: 0 0.5rem;

      input {
        padding: 0.5rem;
        border: none;
      }

      button {
        cursor: pointer;

        svg {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }
}

footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  min-height: calc(100dvh - 10rem);

  h1 {
    font-size: 2rem;
    padding: 2rem 0;
    font-style: italic;
  }
}

.article-list {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;

  li {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    background: var(--article-bg);
    border-radius: 0.5rem;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .readmore {
      width: 100%;
      display: flex;
      justify-content: end;

      a {
        background: var(--readmore-bg);
        color: var(--readmore-fg);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
      }
    }
  }
}

.post-page {
  .category {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--category-fg);
    text-decoration: none;

    svg {
      height: 1rem;
      width: 1rem;
    }
  }

  .tags {
    padding-top: 0.5rem;

    ul {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem;

      li {
        background: var(--tag-bg);
        color: var(--tag-fg);
        padding: 0 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }

  .markdown-body {
    max-width: 1200px;
    padding: 4rem 0;

    ul,
    ol {
      list-style: unset;
    }

    a {
      color: var(--link-fg);
    }
  }
}

.category-page {
  h1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    svg {
      height: 2rem;
      width: 2rem;
    }
  }
}
