package icons

templ Chevron() {
	<svg
		width="1rem"
		height="1rem"
		viewBox="0 0 20 20"
		class="w-6 h-6 text-gray-400 animate-bounce"
	>
		<path
			fill="currentColor"
			d="M7.41 8.59 12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"
		></path>
	</svg>
}
