package templates

import (
	"portfolio/theme/templates/components/common"
)

templ NotFoundPage(fingerprint string) {
	@common.Head("", "", fingerprint)
	@notFoundBody()
}

templ notFoundBody() {
	<body>
		<main>
			<h1>404</h1>
			<p>Page not found.</p>
		</main>
	</body>
}
