package templates

import (
	"peterszarvas94/blog/pkg"
	"peterszarvas94/blog/theme/templates/components/common"
)

templ CategoryPage(_ string, _ []*pkg.FileData) {
	@common.Head("", "")
	@categoryBody()
}

templ categoryBody() {
	<body>
		hello category
	</body>
}
