package templates

import (
	"peterszarvas94/blog/pkg"
	"peterszarvas94/blog/theme/templates/components/common"
)

templ TagPage(_ string, _ []*pkg.FileData) {
	@common.Head("", "")
	@tagBody()
}

templ tagBody() {
	<body>
		hello tag
	</body>
}
