package home

templ H2(text string) {
	<h2
		class="flex text-3xl pb-2 text-base-content/30 writing-h sm:writing-v rotate-0 sm:rotate-180 h-fit"
	>
		<span>#</span>
		<span class="fire">
			{ text }
		</span>
	</h2>
}
