package home

import (
	"portfolio/theme/templates/components/icons"
)

templ Link(href, text string, github bool) {
	<div class="text-white flex flex-row items-center justify-start gap-1">
		if github {
			@icons.Github("size-5 text-gray-500")
		} else {
			@icons.Link("size-5 text-gray-500")
		}
		<a
			href={ templ.SafeURL(href) }
			class="font-firamono underline"
			target="_blank"
			rel="noopener noreferrer"
		>
			{ text }
		</a>
	</div>
}
