package home

import (
	"portfolio/theme/templates/components/icons"
)

templ Link(href, text string, github bool) {
	<a href={ templ.SafeURL(href) } class="home-link" target="_blank" rel="noopener noreferrer">
		if github {
			@icons.Github()
		} else {
			@icons.Link()
		}
		<div class="label">{ text }</div>
	</a>
}
