package home

import (
	"portfolio/theme/templates/components/icons"
)

templ Link(href, text string, github bool) {
	<a
		href={ templ.SafeURL(href) }
		class="text-base-content flex flex-row items-center justify-start gap-1 w-fit"
		target="_blank"
		rel="noopener noreferrer"
	>
		if github {
			@icons.Github("size-5 text-base-content/50")
		} else {
			@icons.Link("size-5 text-base-content/50")
		}
		<div class="link w-fit">{ text }</div>
	</a>
}
