package home

templ Section(sectionId string) {
	<section class="min-h-screen py-32 flex items-center justify-center" id={ sectionId }>
		<div
			class="flex flex-col gap-10 justify-center w-full max-w-5xl mx-auto sm:px-10"
		>
			{ children... }
		</div>
	</section>
}
