package components 

import "peterszarvas94/blog/pkg"

templ ArticleList(files []*pkg.FileData) {
	<ul class="article-list">
		for _, file:= range files {
			<li>
				<h2>
					<a href={ templ.SafeURL(file.Fileroute) }>
						{ file.Matter.Title }
					</a>
				</h2>
				<div>
					{ file.Matter.Excerpt }
				</div>
				<div class="readmore">
					<a href={ templ.SafeURL(file.Fileroute) }>
						Read more
					</a>
				</div>
			</li>
		}
	</ul>
}
