@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/FiraCode-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/FiraCode-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/FiraMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/FiraMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/FiraSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/BerkeleyMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/BerkeleyMono-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/BerkeleyMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/BerkeleyMono-Bold-Oblique.ttf") format("truetype");
}
