package components

templ Header() {
	<header class="home-header" id="header">
		<div class="inner">
			<div>
				<h1>
					<div>Welcome, I am</div>
					<div>Péter Szarvas</div>
					<div>&nbsp;software engineer</div>
				</h1>
			</div>
			@SectionLink("about") {
				<div>
					<span class="art">↓</span>&nbsp;<span>about</span>&nbsp;<span class="art">↓</span>
				</div>
			}
		</div>
	</header>
}
