package components

templ HomeContactLink(text string, href string) {
	<li class="home-contact-item">
		<a href={ templ.SafeURL(href) } target="_blank" rel="noopener noreferrer" class="link home-link">{ text }</a>
	</li>
}
