package components

templ HomeLink(href, text string, github bool) {
	<a href={ templ.SafeURL(href) } class="link home-link" target="_blank" rel="noopener noreferrer">
		if github {
			@Github()
		} else {
			@Globe()
		}
		<div>{ text }</div>
	</a>
}
