package resume

templ ContactItem(text string) {
	<li>
		<div class="flex gap2 items-center justify-end text-base-content">
			<div class="grow text-right">{ text }</div>
			<div>
				{ children... }
			</div>
		</div>
	</li>
}
