package resume

templ ContactLink(text, href string) {
	<li>
		@Link(href) {
			<div class="flex gap2 items-center justify-end text-base-content">
				<div>{ text }</div>
				<div>
					{ children... }
				</div>
			</div>
		}
	</li>
}
