package resume

templ Heading3(text, desc string) {
	<h3>
		<p class="text">{ text }</p>
		<p class="desc">{ desc }</p>
	</h3>
}

templ Heading3Link(text, link, desc string) {
	<h3>
		<a href={ link } class="link" target="_blank" rel="noopener noreferrer">
			<p class="text">{ text }</p>
		</a>
		<p class="desc">{ desc }</p>
	</h3>
}
